$nav_shadow_color: 0px 5px 5px rgb(52, 24, 88);

nav{
    background-color: var(--nav_bg_color);
    color: var(--nav_font_color);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 10vw;

    #nav-logo{
        font-size: 2.7rem;
        font-weight: 600;
    }

    .navbar{
        color: crimson;
    }

    .topnav {
        overflow: hidden;
        background-color: var(--primary_font_color);
        font-weight: bold;
      }
      
    .topnav a {
        float: left;
        display: block;
        color: crimson;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
    .topnav a:hover {
        background-color: var(--primary_bg_color);
        color: var(--primary_font_color);
      }
      
    .topnav a.active {
        background-color: #191919;
        color: white;
      }

    ul li {
        display: inline;
    }

}

@media(max-width: 600px){
  nav{
      flex-direction: column;
      padding: 10px;
      align-items: start;
  }

  nav ul{
      margin-top: 10px;
      flex-direction: column;
      width: 100%;
  }

  nav li{
      margin-bottom: 10px;
  }

  nav li a{
      width: 100%;
  }
}
