{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section id="main-page-category">
    <h2>Welcome to Buzz Movie</h2>

    <div id="categories-list">

        <a href="/recommend/content-based">
            <article id="content-based" class="category-card">
                <img src="{{url_for('static', filename='images/content_based_cover_image.jpg')}}"
                    alt="Content Based Recommendation Cover Image"/>
                <h3>Generic Recommendation</h3>
            </article>
        </a>

        <a href="/recommend/hybrid">
            <article id="hybrid" class="category-card">
                <img src="{{url_for('static', filename='images/hybrid_cover_image.jpg')}}"
                    alt="Hybrid Recommendation Cover Image"/>
                <h3>Personalised Recommendation</h3>
            </article>
        </a>
    </div>
</section>
{% endblock %}
