<nav>
    <div id="nav-logo">BuzzMovie</div>

    <ul class="topnav">
        <li>
            <a class="active" href="/"><span class="material-icons navbar">home</span><br>Home</a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/gouravkhator/FYP_web#readme"><span class="material-icons navbar">info</span><br>About</a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/gouravkhator/FYP_web">
                <i class="fa fa-github" style="font-size:25px;color:crimson;padding-bottom: 5px;"></i><br>Github
            </a>
        </li>
    </ul>
</nav>
